<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="center">[cryptowatch]</h1>
    <h2 class="center">              └---<('Hi, cryptowatch here!')</h2>
    <form th:action="@{/index}" class="center">
        <select th:name="currency">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="CZK">CZK</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <div id="chart_div" align="center"></div>
</body>
</html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        let data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'Rate');
        data.addRows([[${data.dataList}]]);

        let options = {
            title: 'BTC exchange rate',
            width: 1200,
            height: 500,
            hAxis: {
                title: 'Timeline'
            },
            vAxis: {
                title: 'Rate',
                format: '#,### ' + [[${data.currency}]]
            }
        };

        let chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<style>
    #chart_div {
        display: block;
        margin: 0 auto;
        width: 1200px;
        height: 500px;
    }
    .center {
        text-align: center;
    }
</style>
