<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="heading">[cryptowatch]</h1>
    <h2 class="heading">└---<('Hi, cryptowatch here!')</h2>
    <table>
        <thead>
            <tr>
                <th colspan="3">BTC exchange rate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${data.empty}">
                <td colspan="2"> No Data Available </td>
            </tr>
            <tr th:each="d : ${data}">
                <td><span th:text="${d.timestamp}">Timestamp</span></td>
                <td><span th:text="${d.currency}">Currency</span></td>
                <td><span th:text="${d.rate}">Rate</span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
<style>
    .heading {
        text-align: center;
    }
    table, th, td {
        border: 1px solid;
    }
    table {
        border-collapse: collapse;
        width: 30vh;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    th, td {
        padding: 18px;
    }
</style>