<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{template.heading}">[cryptowatch]</title>
</head>
<body>
    <h1 class="center" th:text="#{template.heading}">[cryptowatch]</h1>
    <form th:action="@{/index}" class="center">
        <select th:name="currency">
            <option value="EUR" th:text="#{template.currency_selection.eur}">EUR</option>
            <option value="USD" th:text="#{template.currency_selection.usd}">USD</option>
            <option value="CZK" th:text="#{template.currency_selection.czk}">CZK</option>
        </select>
        <button type="submit" th:text="#{template.submit_button_text}">Submit</button>
    </form>
    <div id="chart_div" align="center"></div>
</body>
</html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        let data = new google.visualization.DataTable();
        data.addColumn('date', [[#{template.chart.day}]]);
        data.addColumn('number', [[#{template.chart.rate}]]);

        let dataList = [[${data.dataList}]]
        for (let i = 0; i < dataList.length; i++) {
            data.addRow([new Date(dataList[i][0]), dataList[i][1]]);
        }

        let options = {
            title: [[#{template.chart.title}]],
            width: 1200,
            height: 500,
            hAxis: {
                title: [[#{template.chart.timeline}]]
            },
            vAxis: {
                title: [[#{template.chart.rate}]],
                format: '#,### ' + [[${data.currency}]]
            },
            trendlines: { 0: {} }
        };

        let chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<style>
    #chart_div {
        display: block;
        margin: 0 auto;
        width: 1200px;
        height: 500px;
    }
    .center {
        text-align: center;
    }
</style>
